<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Details</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/kmit logo.png" height="200" width="100%" />
    <div class="imm">
        <form action="/" class="form" style="height: 400px; width: 400px; " method="POST">
            <h1>Enter Roll Number</h1>
            <input placeholder="Roll no" name="roll_no" class="box">
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>
</body>
</html>
